{{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.name, { 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.email, { 'attr': {'class': 'form-control'}}) }}
    </div>

    {% if (form.password is defined) %}
        <div class="form-group">
            {{ form_row(form.password.first, { 'label': 'Password', 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.password.second, { 'label': 'Confirm password', 'attr': {'class': 'form-control'}}) }}
        </div>
    {% endif %}

    <div class="form-group">
        {% if (submitLabel is defined) %}
            {{ form_row(form.save, {'label': submitLabel, 'attr': {'class': 'btn btn-primary form-control'}}) }}
        {% else %}
            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary form-control'}}) }}
        {% endif %}
    </div>
{{ form_end(form) }}
