{% extends 'layouts/basic_layout.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>Change password</h1>

                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.password.first, { 'label': 'Password', 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.password.second, { 'label': 'Password', 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.change, { 'attr': {'class': 'btn btn-warning form-control'}}) }}
                        </div>
                    {{ form_end(form) }}
                
                    <a class="btn btn-secondary" href="{{ path('user_index') }}">back to list</a>
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">back to edit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
