{% extends 'layouts/basic_layout.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>Create new User</h1>

                    {{ include('admin/user/_user_form.html.twig') }}
                
                    <a class="btn btn-secondary" href="{{ path('user_index') }}">back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
