{% extends 'layouts/basic_layout.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>Edit User</h1>

                    {{ include('admin/user/_user_form.html.twig', {'button_label': 'Update'}) }}
                
                    <a class="btn btn-secondary" href="{{ path('user_index') }}">back to list</a>
                    
                    <a class="btn btn-warning" href="{{ path('user_change_password', {'id': user.id}) }}">change password</a>
                
                    {{ include('admin/user/_delete_user_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
