{% extends 'layouts/basic_layout.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>User list</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Email confirmed</th>
                                <th>Roles</th>
                                <th>Active</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.emailConfirmed ? 'Yes' : 'No' }}</td>
                                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                <td>{{ user.active ? 'Yes' : 'No' }}</td>
                                <td>
                                    <a class="btn btn-secondary" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                                    {{ include('admin/user/_delete_user_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a class="btn btn-success" href="{{ path('user_create') }}">Create new</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
