{% extends 'layouts/basic_layout.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>User</h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ user.name }}</td>
                        </tr>
                        <tr>
                            <th>Roles</th>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Email confirmed</th>
                            <td>{{ user.emailConfirmed ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>active</th>
                            <td>{{ user.active ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>Created at</th>
                            <td>{{ user.createdAt|date("m-d-Y") }}</td>
                        </tr>
                    </tbody>
                </table>
            
                <a class="btn btn-secondary" href="{{ path('user_index') }}">back to list</a>
            
                <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
