{% extends 'layouts/basic_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h1>Register</h1>

            {{ include('admin/user/_user_form.html.twig') }}
        </div>
    </div>
{% endblock %}
