{% extends 'layouts/basic_layout.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>This is the anagram solver!</h1>
                    <p>Type in two words and it will show you if they are anagrams</p>

                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.word_one, { 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.word_two, { 'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.check, {'attr': {'class': 'btn btn-primary form-control'}}) }}
                        </div>
                    {{ form_end(form) }}

                    {% if (isAnagram is defined) %}
                        {% if isAnagram %}
                            <div class="alert alert-success" role="alert">
                                Words are anagrams
                            </div>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                Words not anagrams
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}