{% extends 'layouts/basic_layout.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>This is the iTo project</h1>
                    <h3>Preface</h3>
                    <p>First time trying Symfony, I was able to spent a couple of days on this project,<br>
                    that's not a lot of time to spend learning a framework, in my opinion. Lets take that into consideration.<br>
                    Really looking forward into improving further if given the chance:)
                    <h3>The task:</h3>
                    <ol>
                        <li>Create login page with in_memory Admin user</li>
                        <li>Admin can see list of users (from db)</li>
                        <li>Admin can create/edit/delete users (name, email, password, password confirmation)</li>
                        <li>Newly created user must receive email with login information</li>
                        <li>User can login with his credentials (email, password) using form from step 1)</li>
                        <li>User login time must be stored in db</li>
                        <li>Logged user can see welcome page</li>
                        <li>Create Symfony Command which marks user as inactive after 1 month of inactivity - see 6)</li>
                        <li>Create PHPUnit test which checks email sending EventSubscriber</li>
                    </ol>
                    <h3>Developer comments for each task:</h3>
                    <ol> 
                        <li>Admin user credentials specified in services.yml</li>
                        <li>Login via basic login form</li>
                        <li>He can</li>
                        <li>They do</li>
                        <li>He can</li>
                        <li>It is</li>
                        <li>He can</li>
                        <li>Run command php bin/console app:deactivate-passive-users, <br>to test this command choose a user,<br> make all user login events more than a month old <br> and user creation date at least a month old.<br>The command should deactivate the user.</li>
                        <li>TODO (ups)</li>
                    </ol>
                    <h3>Development process:</h3>
                    <img src="https://scontent.fkun1-1.fna.fbcdn.net/v/t1.0-9/102882435_3264408966914126_6046942487039742739_o.jpg?_nc_cat=104&_nc_sid=825194&_nc_ohc=k6aLrZbH8JsAX_QndQh&_nc_ht=scontent.fkun1-1.fna&oh=9e48b2aad8994c3b602ddce4ad487328&oe=5F036592">
                </div>
            </div>
        </div>
    </div>
{% endblock %}