{% extends 'layouts/basic_layout.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>You are succesfully signed in, welcome!</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}