{% extends 'layouts/basic_layout.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <table class="table">
                        <tbody>
                            {% for infoName, infoData in siteInfo %}
                                <tr>
                                    <th>{{ infoName }}</th>
                                    <td>{{ infoData }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </ul>
                    <a class="btn btn-secondary" href="{{ path('user_index') }}">See user list</a>              
                </div>
            </div>
        </div>
    </div>
{% endblock %}