<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Nauja registracija</title>
        <style type="text/css">
            a {
                width: 151px;
                display: block;
                margin: auto;
                margin-top: 30px;
                margin-bottom: 30px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 13px;
                padding-bottom: 13px;
                border-radius: 22px;
                background-color: orange;
                color: #ffffff;
                text-align: center;
                text-decoration: none;
                font-family: 'Source Sans Pro', sans-serif;
            }
        </style>
    </head>
    <body style="margin: 0; padding: 0;">
        <div style="display:none; white-space:nowrap; font:15px courier; color:#ffffff; line-height:0; width:600px !important; max-width:600px !important;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; max-width: 600px; width: 100%; text-align: center;">
                        <tr style="font-family: 'Source Sans Pro', sans-serif; font-size: 16px; line-height: 20px; color: #515151;">
                            <td align="center" height="140" style="padding: 40px 0 30px 0;">
                                <img src="https://media-exp1.licdn.com/dms/image/C510BAQHHd04GabBoJA/company-logo_200_200/0?e=2159024400&v=beta&t=eIjuYweTpNRPRZCQK3OdmTpJfZ6l0ylIVCaAxJoDXEk" alt="iTo" width="100" height="100" style="display: block;" />
                            </td>
                        </tr>
                        <tr style="font-family: 'Source Sans Pro', sans-serif; font-size: 16px; line-height: 26px; color: #515151;">
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-left: 10px; padding-right: 10px;">
                                    <tr><td style="font-size: 0; line-height: 0;" height="40" colspan="2">&nbsp;</td></tr>
                                    <tr>
                                        <td>
                                            <p>Hi,</p>
                                            <p>A registration on the <b>iTo</b> project has been made using this email.</p>
                                            <p>
                                            Name: {{ user.name }}<br>
                                            Email: {{ user.email }}<br>
                                            Data: {{ user.createdAt|date("m-d-Y") }}<br>
                                            </p>
                                            <p>
                                                <a href="{{ signedUrl|raw }}">Confirm my Email</a>
                                                This link will expire in {{ expiresAt|date('g') }} hour(s).
                                            </p>
                                            <p>Yours truly, <br>iTo.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
