{% extends 'layouts/basic_layout.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="container">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>

            {{ form_start(loginForm) }}
                <div class="form-group">
                    {{ form_row(loginForm.email, { 'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(loginForm.password, { 'attr': {'class': 'form-control'}}) }}
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group">
                    {{ form_row(loginForm.login, { 'attr': {'class': 'btn btn-primary form-control'}}) }}
                </div>
            {{ form_end(loginForm) }}
        </div>
    </div>
{% endblock %}
